* {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Permanent Marker", cursive;
  margin-left: 1.5em;
  font-size: 25px;
  background-image: url("rainbow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex; /* vagy inline-flex */
  flex-direction: row;
}

#title {
  font-size: 3em;
}

.color-field {
  margin-top: 1em;
}

#main-color {
  height: 50px;
  width: 100px;
}

.input-field {
  margin-left: 1em;
}
